<header class="header-nav">
  <nav>
    <div class="logo">
      <img src="assets/images/logo-caixa.svg" alt="logo" />
    </div>
    <div class="spacer"></div>
    <div class="titulo">
      X Cred<span class="titulo-strong">ito</span> CAIXA - Crédito
    </div>
  </nav>
</header>
