@use "../../../../assets/styles/cores" as *;

.header-nav {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5em;
  // background-color: rgba($azul_cx-standard, .5);
  // create background blur
  background-color: rgb(0, 92, 169, 0.8);

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: $polar;
  display: flex;

  @media screen and (max-width: 600px) {
    height: 4em;
  }

  nav {
    margin: auto 10em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    .logo {
      height: 1.2rem;
    }

    @media screen and (max-width: 600px) {
      justify-content: center;
    }
  }


  .spacer {
    border-right: 1px solid white;
    height: 2em;
    margin: auto 1em;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  .titulo {
    font-family: "Futura BT", sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    .titulo-strong {
      font-weight: 700;
    }

      @media screen and (max-width: 600px) {
        display: none;
      }

  }
}
