@use '../../../../assets/styles/cores' as *;

footer.footer {
  width: 100%;
  min-height: 2em;
  border-top: 1px solid $cinza-standard;
  font-family: 'Futura BT', sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $azul_cx-standard;
}
