<mat-card class="card-produto">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ produto.noProduto }}</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <div aria-describedby="Abaixo há um carrossel com imagens ilustrativas de opções de produtos de crédito para contratação"
    class="example-header-image"
    [ngStyle]="{
      'background-image':
        'url(../../../assets/images/img_produto_' + img + '.jpg)'
    }"
  >
</div>
  <mat-card-content> <p>Detalhes sobre o produto aqui</p> </mat-card-content>
</mat-card>
