.card-produto {
  min-width: 250px;
  max-width: 400px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.card-produto-image__container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 200px;
  position: relative;

}


.example-header-image {
  height: 200px;
  background-position: center;
  background-clip: border-box;
  background-size: cover;
}
