
.form {

}


.oferta-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.oferta-full-width {
  width: 100%;
}

.oferta-form-button {
  margin: 2em 0;
}

.oferta-margin {
  margin: 1em 0;
}
