<div class="form">
  <form [formGroup]="form" class="oferta-form">
    <mat-form-field class="oferta-full-width">
      <mat-label>CPF</mat-label>
      <input
        matInput
        placeholder="000.000.000-00"
        value="000.000.000-00"
        formControlName="cpf"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Produto Desejado</mat-label>
      <mat-select formControlName="nuProduto" value="selected">
        <mat-option
          *ngFor="let produto of produtos"
          value="produto.nuProduto"
          >{{ produto.noProduto }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="oferta-full-width">
      <mat-label>Valor</mat-label>
      <input matInput placeholder="0,00" value="0,00" formControlName="valor" />
    </mat-form-field>

    <mat-form-field class="oferta-full-width">
      <mat-label>Prazo</mat-label>
      <input
        type="number"
        matInput
        placeholder="0"
        value="0"
        formControlName="prazo"
      />
    </mat-form-field>
  </form>
</div>

<mat-checkbox class="oferta-margin" [(ngModel)]="permissaoCedida">
  Ao efetuar a simulação, declaro que concordo e permito que com a Caixa tenha
  acesso a meus dados bancários.
</mat-checkbox>

<div class="oferta-form-button">
  <button
    mat-raised-button
    color="primary"
    (click)="simular()"
    [disabled]="!permissaoCedida"
  >
    Simular
  </button>
</div>
