@use '../../../../../assets/styles/cores.scss' as *;

main {

  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

  .hero {
    height: 35em;
    margin: 0;
    padding: 0;
    padding-top:6em;

    overflow: hidden;
    background-image: url('../../../../../assets/images/background_hero.svg');
    background-position: center;
    background-clip: border-box;
    background-size: cover;
    font-family: "Futura BT", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $polar;
    .logo-xcred {
      height: 5em;
    }
    .hero__title {
      font-family: "Futura BT", sans-serif;
      font-size: 2.5rem;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
    }
    .credito-bold {
      font-family: "Futura BT", sans-serif;
      font-weight: 400 !important;
      color: $laranja_cx-standard;
    }
    .hero__subtitle {
      max-width: 60%;
      font-family: "Futura BT", sans-serif;
      font-size: 2rem;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
      font-weight: 200;
      .bold {
        font-family: "Futura BT", sans-serif;
        font-weight: 700 !important;
      }
    }
    h1 {
      font-family: "Futura BT", sans-serif;
      font-weight: 700 !important;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
    }
  }

  .carousel-ofertas {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: auto;

    display: flex;
    justify-content: space-around;
    background-color: $polar;

    .skeleton {
      width: 100%;
      min-width: 1200px;
    }

    .carousel-oferta {
      margin: 1rem;
      float: left;
    }

  }

  .carousel-oferta__container {

    font-family: "Futura BT", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel-oferta-personalizada__container {
    background-color: $cinza-standard;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



::ng-deep {
  div.carousel-ofertas > div.skeleton > ngx-skeleton-loader {

    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}
