<header>
  <app-header></app-header>
</header>
<main>
  <section>
    <div class="hero">
      <img class="logo-xcred" src="assets/images/xcred_logo1.png" alt="hero" />
      <h1 class="hero__title">
        <span class="credito-bold">Crédito</span> CAIXA
      </h1>
      <div class="hero__subtitle">
        <p>
          Seja qual for o momento ou motivo, a CAIXA tem a opção de crédito
          ideal para tirar seus planos do papel. Conheça nossas opções de
          <span class="bold">crédito</span>.
        </p>
      </div>
    </div>
  </section>

  <section class="carousel-oferta__container">
    <div
      *ngIf="
        !this.existeOfertaPersonalizada;
        else exibicaoDeOfertaPersonalizada
      "
    >
      <div class="carousel-ofertas">
        <div #skeleton class="skeleton">
          <ngx-skeleton-loader
            count="4"
            appearance="circle"
            [theme]="{
              'border-radius': '10px',
              height: '400px',
              width: '350px',
              'background-color': '#f1f1f1',
              border: '1px solid white'
            }"
          ></ngx-skeleton-loader>
        </div>
        <!-- <div
          class="carousel-oferta"
          *ngFor="let produto of produtos; index as ix"
        >
          <app-card-de-oferta [produto]="produto" [img]="ix + 1">
          </app-card-de-oferta>
        </div> -->
      </div>
    </div>
  </section>
  <section class="carousel-oferta-personalizada__container">
    <app-personalizacao-de-oferta
      *ngIf="produtos.length > 0"
      [produtos]="produtos"
    >
    </app-personalizacao-de-oferta>

    <div>
      {{ skeletonOverflowed }}
    </div>
    <div class="">
      <pre>{{ skeleton | json }}</pre>
    </div>
    <ng-template #exibicaoDeOfertaPersonalizada>
      <div>
        <app-oferta-personalizada></app-oferta-personalizada>
      </div>
    </ng-template>
  </section>
</main>

<footer>
  <app-footer></app-footer>
</footer>
