/* For use in src/lib/core/theming/_palette.scss */
$md-azul: (
    50 : #e8eaf6,
    100 : #c5cbe9,
    200 : #9fa8da,
    300 : #7985cb,
    400 : #5c6bc0,
    500 : #3f51b5,
    600 : #394aae,
    700 : #3140a5,
    800 : #29379d,
    900 : #1b278d,
    A100 : #c6cbff,
    A200 : #939dff,
    A400 : #606eff,
    A700 : #4757ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-laranja: (
    50 : #fef2e0,
    100 : #fcdeb3,
    200 : #fac980,
    300 : #f8b34d,
    400 : #f7a226,
    500 : #f59200,
    600 : #f48a00,
    700 : #f27f00,
    800 : #f07500,
    900 : #ee6300,
    A100 : #ffffff,
    A200 : #ffece1,
    A400 : #ffcbae,
    A700 : #ffba95,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-danger: (
    50 : #f2e0e0,
    100 : #deb3b3,
    200 : #c88080,
    300 : #b14d4d,
    400 : #a12626,
    500 : #900000,
    600 : #880000,
    700 : #7d0000,
    800 : #730000,
    900 : #610000,
    A100 : #ff9191,
    A200 : #ff5e5e,
    A400 : #ff2b2b,
    A700 : #ff1212,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

