@use "./cores" as *;

.mat-simple-snackbar {
  font-size: 1.2em;
  color: white;
}

 mat-snack-bar-container.snackbar-error > div {
  background-color: $danger-standard;
}

.snackbar-success {
  background-color: $success-standard;
}

.snackbar-info {
  background-color: $info-standard;

}
