@font-face {
  font-family: "Futura BT";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/futura-light.ttf) format("truetype");
}

@font-face {
  font-family: "Futura BT";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/futura-book.ttf) format("truetype");
}

@font-face {
  font-family: "Futura BT";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/futura-book-italic.ttf) format("truetype");
}

@font-face {
  font-family: "Futura BT";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/futura-medium.ttf) format("truetype");
}

@font-face {
  font-family: "Futura BT";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/futura-medium-italic.ttf) format("truetype");
}

@font-face {
  font-family: "Futura BT";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/futura-heavy.ttf) format("truetype");
}

@font-face {
  font-family: "Futura BT";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/futura-heavy-italic.ttf) format("truetype");
}

@font-face {
  font-family: "Futura BT";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/futura-bold.ttf) format("truetype");
}

@font-face {
  font-family: "Futura BT";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/futura-bold-italic.ttf) format("truetype");
}
