@use '../../../assets/styles/cores.scss' as *;


:host {
  width: 80%;
  font-family: 'Futura BT', sans-serif;
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: $azul_cx-standard;
  }
  .personalizacao-de-ofertas__button {
    margin: 2em 0;
  }
}
