<div class="personalizacao-de-ofertas__container">
  <h1 class="">
    <span class="personalizacao-de-ofertas__title"
      >Personalize sua Oferta!</span
    >
  </h1>
  <div class="personalizacao-de-ofertas__main">
    <p>
      Você pode simular seu empréstimo. E, com o <strong>Open Finance</strong>,
      você pode trazer seus dados e ter acesso a condições diferenciadas!
    </p>

    <div class="personalizacao-de-ofertas__button">
      <button
        mat-flat-button
        *ngIf="!personalizaSimulacaoChecked"
        (click)="togglePersonalizaSimulacao()"
      >
        Clique aqui para efetuar a simulação
      </button>
    </div>

    <app-personalizacao-de-oferta-criacao
      *ngIf="personalizaSimulacaoChecked == true"
      [produtos]="produtos"
    >
    </app-personalizacao-de-oferta-criacao>
  </div>
</div>
